{% extends '::layout_peque.html.twig' %}

{% block body %}
<div class="col-md-12">
    <div class="col-md-offset-1">
        <h2>{{ titulo }}</h2>
    </div>
    <hr>
<form action="#" method="post" {{ form_enctype(form) }}>
    <div class="form-group col-md-offset-1">
        {{ form_label(form.empresa) }}
            {{ form_widget(form.empresa) }}
    </div>
    {% if form_errors(form.empresa) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.empresa) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN empresa -->
    <div class="form-group col-md-offset-1">
        {{ form_label(form.nombre) }}

            {{ form_widget(form.nombre) }}
    </div>
    {% if form_errors(form.nombre) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.nombre) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN nombre -->    
        <div class="form-group col-md-offset-1">
        {{ form_label(form.email) }}

            {{ form_widget(form.email) }}
    </div>
    {% if form_errors(form.email) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.email) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN email -->
    <div class="form-group col-md-offset-1">
        {{ form_label(form.telefono) }}

            {{ form_widget(form.telefono) }}
    </div>
    {% if form_errors(form.telefono) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.telefono) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN telefono -->
    <div class="form-group col-md-offset-1">
        {{ form_label(form.texto) }}

            {{ form_widget(form.texto) }}
    </div>
    {% if form_errors(form.texto) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.texto) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN texto -->
    <br>
    <div class="form-group col-md-offset-1">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        {{ form_label(form.recaptcha) }}
    <div class="form-group col-md-offset-2">    
            {{ form_widget(form.recaptcha) }}
    </div>
    </div>
    {% if form_errors(form.recaptcha) is not empty %}
        <div class="col-md-10 col-md-offset-4 alert alert-danger">
            {{ form_errors(form.recaptcha) }}
        </div>
    {% elseif true %}
        <div class="col-md-10 col-md-offset-4"></div>                
    {% endif %}
    <!-- FIN captcha -->    
        
    {{ form_rest(form) }}
        <div class="col-md-12"><hr></div>
        <div class="col-md-12 col-md-offset-2">
            <button type="submit" class="btn btn-success" value="submit">
                <i class="glyphicon glyphicon-ok glyphicon glyphicon-white"></i>
                &nbsp;Aceptar
            </button>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{{ path('aac/inicio') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span>
                &nbsp;&nbsp;Volver
            </a>

        </div>
<div class="col-md-12"><br></div>     

</form>
</div>
{% endblock %}